.banner{
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    margin-bottom: 3em;
    background-color: black;
    border-radius: 25px;
    max-height: 25vh;
    overflow: hidden;
    img{
        object-fit: cover;
        max-width: 100%;
        opacity: 0.5;
    }
    h2{
        padding: 1em;
        position: absolute;
        font-size: $desktop-XL;
    }
}