.banner {
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
  max-height: 25vh;
  border-radius: 25px;
  background-color: black;
  overflow: hidden;
  img {
    object-fit: cover;
    opacity: 0.5;
  }
  h2 {
    position: absolute;
    font-size: $desktop-XL;
    color: white;
  }
}
