.caroussel {
    justify-content: center;
    max-width: 1280px;
    min-height: 480px;
    position: relative;
    color: white;
    &__slide {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      border-radius: 25px;
      margin-bottom: 2em;
    }
    &__arrow {
      width: 2em;
      &--left {
        position: absolute;
        left: 2em;
      }
      &--right {
        position: absolute;
        right: 2em;
      }
    }
    span {
      position: absolute;
      align-self: center;
      bottom: 2em;
    }
  }