.caroussel {
  position: relative;
  justify-content: center;

  min-height: 50vh;
  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
  }
  &__arrow {
    &--left {
      position: absolute;
      left: 2em;
    }
    &--right {
      position: absolute;
      right: 2em;
    }
  }
  span {
    position: absolute;
    align-self: center;
    bottom: 2em;
    color: white;
  }
}
