.collapse {
  &__label {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0.5em 1em;
    background: $main-color;
    h2 {
      font-size: $desktop-S;
      color: white;
    }
    .openedCollapse {
      animation: arrowOpen 0.5s forwards;
    }
    .closedCollapse {
      animation: arrowClose 0.5s forwards;
    }
  }
  &__text {
    box-sizing: initial;
    max-height: 0;
    font-size: $desktop-S;
    background: $background-color;
    color: $main-color;
    overflow: hidden;
  }
  .displayed {
    animation: showText 0.25s forwards;
  }
  .hidden {
    animation: hideText 0.25s forwards;
  }
}
