footer{
    background-color: black;
    color: white;
    align-items: center;
    padding: 2em;
    gap: 2em;
    img{
        width: 10%;
    }
    p{
        text-align: center;
        font-size: $desktop-M;
    }
}
