footer {
  align-items: center;
  margin-top: 2em;
  padding: 4em;
  gap: 2em;
  background-color: black;
  img {
    max-width: 25%;
  }
  p {
    text-align: center;
    font-size: $desktop-M;
    color: white;
  }
}
