.locationWrapper {
  .location {
    justify-content: space-between;
    margin: 2em 0;
    &__title {
      gap: 1em;
      h1 {
        font-size: $desktop-L;
      }
      p {
        font-size: $desktop-S;
      }
      ul {
        gap: 1em;
        flex-wrap: wrap;
        .tag {
          padding: 0.5em 3em;
          font-size: $desktop-XS;
          border-radius: 25px;
          background-color: $main-color;
          color: white;
        }
      }
    }
    &__hostRating {
      max-width: 15%;
      gap: 1em;
      .host {
        gap: 1em;
        &__name {
          align-self: center;
          text-align: end;
        }
        &__pic {
          width: 50%;
          border-radius: 50%;
        }
      }
    }
  }
  .details {
    justify-content: space-between;
    .collapse {
      width: 45%;
    }
  }
}
