/*Colors*/
/*Fonts Sizes*/
/*
288
48
36
24 h2
18 h3
14

10
12
14
18
24
96
*/
/*Collapse*/
@keyframes arrowOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes arrowClose {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes showText {
  0% {
    padding: 0.5em 1em;
    max-height: 0;
  }
  100% {
    padding: 0.5em 1em;
    max-height: fit-content;
  }
}
@keyframes hideText {
  0% {
    padding: 0.5em 1em;
    max-height: fit-content;
  }
  100% {
    padding: 0 1em;
    max-height: 0;
  }
}
* {
  font-family: "Montserrat";
  font-weight: 500;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

section {
  width: 1240px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

a, .navLink {
  color: #FF6060;
  text-decoration: none;
}

a:hover, .navLink:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.flexHorizontal {
  display: flex;
  flex-direction: row;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

header {
  justify-content: space-between;
  margin: auto;
  padding: 2em 0;
  width: 1240px;
}
header img {
  max-width: auto;
}
header nav {
  justify-content: space-between;
  align-items: center;
}
header nav .navLink {
  padding-left: 5em;
  color: #FF6060;
}
header nav .navLink:hover {
  text-decoration: underline;
}

footer {
  background-color: black;
  color: white;
  align-items: center;
  padding: 2em;
  gap: 2em;
}
footer img {
  width: 10%;
}
footer p {
  text-align: center;
  font-size: 24px;
}

.banner {
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  margin-bottom: 3em;
  background-color: black;
  border-radius: 25px;
  max-height: 25vh;
  overflow: hidden;
}
.banner img {
  object-fit: cover;
  max-width: 100%;
  opacity: 0.5;
}
.banner h2 {
  padding: 1em;
  position: absolute;
  font-size: 48px;
}

.collapse__label {
  cursor: pointer;
  color: white;
  justify-content: space-between;
  background: #FF6060;
  border-radius: 5px;
  padding: 0.5em 1em;
}
.collapse__label .openedCollapse {
  animation: arrowOpen 0.5s forwards;
}
.collapse__label .closedCollapse {
  animation: arrowClose 0.5s forwards;
}
.collapse__text {
  box-sizing: initial;
  background: #F6F6F6;
  color: #FF6060;
  max-height: 0;
  overflow: hidden;
}
.collapse .displayed {
  animation: showText 0.25s forwards;
}
.collapse .hidden {
  animation: hideText 0.25s forwards;
}

.caroussel {
  justify-content: center;
  max-width: 1280px;
  min-height: 480px;
  position: relative;
  color: white;
}
.caroussel__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 25px;
  margin-bottom: 2em;
}
.caroussel__arrow--left {
  position: absolute;
  left: 2em;
}
.caroussel__arrow--right {
  position: absolute;
  right: 2em;
}
.caroussel span {
  position: absolute;
  align-self: center;
  bottom: 2em;
}

.ratings {
  justify-content: space-between;
}

.gallery {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  width: 100%;
  background-color: #F6F6F6;
  color: white;
  margin-bottom: 2em;
  padding: 3em;
  border-radius: 25px;
}
.gallery .links {
  cursor: pointer;
  position: relative;
  width: 22em;
  height: 22em;
  overflow: hidden;
  color: white;
}
.gallery .links img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery .links .gradient {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}
.gallery .links .gradient h3 {
  width: 65%;
  align-self: flex-end;
  margin: 1em;
}

.locationWrapper .location {
  justify-content: space-between;
  color: #FF6060;
}
.locationWrapper .location__title {
  gap: 1em;
}
.locationWrapper .location__title h1 {
  font-size: 36px;
}
.locationWrapper .location__title p {
  font-size: 18px;
}
.locationWrapper .location__title ul {
  gap: 1em;
}
.locationWrapper .location__title ul .tag {
  color: white;
  background-color: #FF6060;
  border-radius: 10px;
  padding: 0.5em 3em;
}
.locationWrapper .location__hostRating {
  max-width: 15%;
  gap: 1em;
}
.locationWrapper .location__hostRating .host {
  gap: 1em;
}
.locationWrapper .location__hostRating .host__name {
  text-align: end;
  align-self: center;
}
.locationWrapper .location__hostRating .host__pic {
  border-radius: 50%;
  width: 50%;
}
.locationWrapper .details {
  justify-content: space-between;
  margin-top: 2em;
}
.locationWrapper .details .collapse {
  width: 45%;
  color: white;
  margin-bottom: 2em;
}

.aboutPage {
  margin-top: 2em;
  margin-bottom: 2em;
  gap: 2em;
}
.aboutPage .collapse {
  margin: auto;
  max-width: 80%;
}

.missingPage {
  height: 60vh;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
  text-align: center;
}
.missingPage h1 {
  color: #FF6060;
  font-size: 288px;
}
.missingPage h2 {
  color: #FF6060;
  font-size: 36px;
}
.missingPage .navLink {
  color: #FF6060;
  font-size: 18px;
}

@media screen and (max-width: 380px) {
  section, header {
    max-width: 350px;
  }
  header img {
    max-width: 30%;
  }
  header nav {
    font-size: 12px;
    text-transform: uppercase;
  }
  header nav .navLink {
    padding-left: 3em;
  }
  footer {
    padding: 4em;
  }
  footer img {
    width: 30%;
  }
  footer p {
    max-width: 40%;
    font-size: 12px;
  }
  .banner {
    max-height: 15vh;
    border-radius: 10px;
  }
  .banner h2 {
    font-size: 24px;
  }
  .collapse h2 {
    font-size: 14px;
  }
  .collapse img {
    width: 5%;
  }
  .collapse__text {
    font-size: 12px;
  }
  .caroussel {
    min-height: 40vh;
  }
  .caroussel__arrow--left {
    width: 5%;
    left: 1em;
  }
  .caroussel__arrow--right {
    width: 5%;
    right: 1em;
  }
  .caroussel span {
    display: none;
  }
  .gallery {
    background-color: white;
    margin-top: -5em;
  }
  .gallery .links {
    height: 15em;
  }
  .aboutPage {
    margin-top: 0;
  }
  .aboutPage .banner {
    max-height: 30vh;
    margin: 0;
  }
  .aboutPage .collapse {
    max-width: 100%;
  }
  .missingPage {
    margin-top: 5em;
  }
  .missingPage h1 {
    font-size: 96px;
  }
  .missingPage h2 {
    font-size: 18px;
  }
  .missingPage a {
    font-size: 14px;
  }
  .locationWrapper .location {
    flex-direction: column;
    gap: 1em;
  }
  .locationWrapper .location__title h1 {
    font-size: 18px;
  }
  .locationWrapper .location__title p {
    font-size: 14px;
  }
  .locationWrapper .location__title ul {
    gap: 1em;
  }
  .locationWrapper .location__title ul .tag {
    font-size: 10px;
    border-radius: 5px;
  }
  .locationWrapper .location__hostRating {
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: unset;
  }
  .locationWrapper .location__hostRating .host {
    max-width: 50%;
  }
  .locationWrapper .location__hostRating .host__pic {
    border-radius: 50%;
    width: 20%;
  }
  .locationWrapper .location__hostRating .ratings img {
    width: 75%;
  }
  .locationWrapper .details {
    flex-direction: column;
  }
  .locationWrapper .details .collapse {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
