/*Colors*/
/*Fonts Sizes*/
/*Collapse*/
@keyframes arrowOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes arrowClose {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes showText {
  0% {
    padding: 0.5em 1em;
    max-height: 0;
  }
  100% {
    padding: 0.5em 1em;
    max-height: fit-content;
  }
}
@keyframes hideText {
  0% {
    padding: 0.5em 1em;
    max-height: fit-content;
  }
  100% {
    padding: 0 1em;
    max-height: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-weight: 500;
  list-style-type: none;
  color: #ff6060;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.flexHorizontal {
  display: flex;
  flex-direction: row;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

header {
  justify-content: space-between;
  margin: auto;
  padding: 2em 0;
  max-width: 1240px;
  width: 100%;
}
header img {
  max-width: 20%;
  height: 20%;
}
header nav {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 25%;
  gap: 1em;
}

footer {
  align-items: center;
  margin-top: 2em;
  padding: 4em;
  gap: 2em;
  background-color: black;
}
footer img {
  max-width: 25%;
}
footer p {
  text-align: center;
  font-size: 24px;
  color: white;
}

.banner {
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
  max-height: 25vh;
  border-radius: 25px;
  background-color: black;
  overflow: hidden;
}
.banner img {
  object-fit: cover;
  opacity: 0.5;
}
.banner h2 {
  position: absolute;
  font-size: 48px;
  color: white;
}

.collapse__label {
  cursor: pointer;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.5em 1em;
  background: #ff6060;
}
.collapse__label h2 {
  font-size: 18px;
  color: white;
}
.collapse__label .openedCollapse {
  animation: arrowOpen 0.5s forwards;
}
.collapse__label .closedCollapse {
  animation: arrowClose 0.5s forwards;
}
.collapse__text {
  box-sizing: initial;
  max-height: 0;
  font-size: 18px;
  background: #f6f6f6;
  color: #ff6060;
  overflow: hidden;
}
.collapse .displayed {
  animation: showText 0.25s forwards;
}
.collapse .hidden {
  animation: hideText 0.25s forwards;
}

.caroussel {
  position: relative;
  justify-content: center;
  min-height: 50vh;
}
.caroussel__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
.caroussel__arrow--left {
  position: absolute;
  left: 2em;
}
.caroussel__arrow--right {
  position: absolute;
  right: 2em;
}
.caroussel span {
  position: absolute;
  align-self: center;
  bottom: 2em;
  color: white;
}

.ratings {
  justify-content: space-between;
}

.gallery {
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 3em;
  width: 100%;
  border-radius: 25px;
  background-color: #f6f6f6;
}
.gallery .links {
  cursor: pointer;
  position: relative;
  width: 22em;
  height: 22em;
  overflow: hidden;
}
.gallery .links img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.gallery .links .gradient {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.gallery .links .gradient h3 {
  align-self: flex-end;
  width: 65%;
  margin: 1em;
  color: white;
}

.locationWrapper .location {
  justify-content: space-between;
  margin: 2em 0;
}
.locationWrapper .location__title {
  gap: 1em;
}
.locationWrapper .location__title h1 {
  font-size: 36px;
}
.locationWrapper .location__title p {
  font-size: 18px;
}
.locationWrapper .location__title ul {
  gap: 1em;
  flex-wrap: wrap;
}
.locationWrapper .location__title ul .tag {
  padding: 0.5em 3em;
  font-size: 14px;
  border-radius: 25px;
  background-color: #ff6060;
  color: white;
}
.locationWrapper .location__hostRating {
  max-width: 15%;
  gap: 1em;
}
.locationWrapper .location__hostRating .host {
  gap: 1em;
}
.locationWrapper .location__hostRating .host__name {
  align-self: center;
  text-align: end;
}
.locationWrapper .location__hostRating .host__pic {
  width: 50%;
  border-radius: 50%;
}
.locationWrapper .details {
  justify-content: space-between;
}
.locationWrapper .details .collapse {
  width: 45%;
}

.aboutPage {
  gap: 2em;
}
.aboutPage .collapse {
  margin: auto;
  max-width: 80%;
}

.missingPage {
  height: 70vh;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.missingPage h1 {
  font-size: 288px;
}
.missingPage h2 {
  font-size: 36px;
}
.missingPage a {
  font-size: 18px;
}

@media screen and (max-width: 1240px) {
  main, header {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (max-width: 380px) {
  main nav,
  header nav {
    font-size: 12px;
    text-transform: uppercase;
  }
  main nav .navLink,
  header nav .navLink {
    white-space: nowrap;
  }
  footer img {
    min-width: 50%;
  }
  footer p {
    max-width: 40%;
    font-size: 12px;
  }
  .banner {
    max-height: 15vh;
    border-radius: 10px;
  }
  .banner h2 {
    padding: 1em;
    font-size: 24px;
  }
  .collapse h2 {
    font-size: 14px;
  }
  .collapse img {
    width: 5%;
  }
  .collapse__text {
    font-size: 12px;
  }
  .caroussel {
    min-height: 40vh;
  }
  .caroussel__arrow--left {
    width: 5%;
    left: 1em;
  }
  .caroussel__arrow--right {
    width: 5%;
    right: 1em;
  }
  .caroussel span {
    display: none;
  }
  .gallery {
    background-color: white;
    padding: 0;
  }
  .gallery .links {
    max-height: 15em;
  }
  .aboutPage .banner {
    max-height: 30vh;
    margin: 0;
  }
  .aboutPage .collapse {
    max-width: 100%;
  }
  .missingPage h1 {
    font-size: 96px;
  }
  .missingPage h2 {
    font-size: 18px;
  }
  .missingPage a {
    font-size: 14px;
  }
  .locationWrapper .location {
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
  }
  .locationWrapper .location__title h1 {
    font-size: 18px;
  }
  .locationWrapper .location__title p {
    font-size: 14px;
  }
  .locationWrapper .location__title ul .tag {
    font-size: 10px;
    border-radius: 5px;
  }
  .locationWrapper .location__hostRating {
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: unset;
  }
  .locationWrapper .location__hostRating .host {
    justify-content: flex-end;
    max-width: 50%;
  }
  .locationWrapper .location__hostRating .host__pic {
    width: 25%;
  }
  .locationWrapper .location__hostRating .ratings img {
    width: 75%;
  }
  .locationWrapper .details {
    flex-direction: column;
    gap: 1em;
  }
  .locationWrapper .details .collapse {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
