/*Colors*/
/*Fonts Sizes*/
/*
288
48
36
24 h2
18 h3
14

10
12
14
18
24
96
*/
/*Collapse*/
@keyframes arrowOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes arrowClose {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes showText {
  0% {
    padding: 0.5em 1em;
    max-height: 0;
  }
  100% {
    padding: 0.5em 1em;
    max-height: fit-content;
  }
}
@keyframes hideText {
  0% {
    padding: 0.5em 1em;
    max-height: fit-content;
  }
  100% {
    padding: 0 1em;
    max-height: 0;
  }
}
* {
  font-family: "Montserrat";
  font-weight: 500;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;
}

section {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

a, .navLink {
  text-decoration: none;
}

a:hover, .navLink:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.flexHorizontal {
  display: flex;
  flex-direction: row;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

header {
  justify-content: space-between;
  margin: auto;
  padding: 2em 0;
  width: 1240px;
}
header nav {
  align-items: center;
  gap: 5em;
}
header nav .navLink {
  color: #FF6060;
}
header nav .navLink:hover {
  text-decoration: underline;
}

footer {
  background-color: black;
  color: white;
  align-items: center;
  padding: 2em;
  gap: 2em;
}
footer img {
  width: 10%;
}
footer p {
  font-size: 24px;
}

.banner {
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  margin-bottom: 3em;
  background-color: black;
  border-radius: 25px;
  max-height: 15em;
  overflow: hidden;
}
.banner img {
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
  opacity: 0.5;
}
.banner h2 {
  position: absolute;
  font-size: 48px;
}

.collapse__label {
  cursor: pointer;
  color: white;
  justify-content: space-between;
  background: #FF6060;
  border-radius: 5px;
  padding: 0.5em 1em;
}
.collapse__label .openedCollapse {
  animation: arrowOpen 0.5s forwards;
}
.collapse__label .closedCollapse {
  animation: arrowClose 0.5s forwards;
}
.collapse__text {
  box-sizing: initial;
  background: #F6F6F6;
  color: #FF6060;
  max-height: 0;
  overflow: hidden;
}
.collapse .displayed {
  animation: showText 0.25s forwards;
}
.collapse .hidden {
  animation: hideText 0.25s forwards;
}

.gallery {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  width: 100%;
  background-color: #F6F6F6;
  color: white;
  margin-bottom: 2em;
  padding: 3em;
  border-radius: 25px;
}
.gallery .links {
  cursor: pointer;
  position: relative;
  width: 22em;
  height: 22em;
  overflow: hidden;
  color: white;
}
.gallery .links img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery .links .gradient {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}
.gallery .links .gradient h3 {
  width: 65%;
  align-self: flex-end;
  margin: 1em;
}

.aboutPage {
  margin-top: 2em;
  margin-bottom: 2em;
  gap: 2em;
}
.aboutPage .collapse {
  margin: auto;
  max-width: 80%;
}

/*# sourceMappingURL=main.css.map */
