@media screen and (max-width: 380px) {
  //BASE
  section,
  header {
    max-width: 350px;
  }
  header {
    img {
      max-width: 30%;
    }
    nav {
      font-size: $mobile-S;
      text-transform: uppercase;
      .navLink {
        padding-left: 3em;
      }
    }
  }
  footer {
    img {
      width: 50%;
    }
    p {
      max-width: 40%;
      font-size: $mobile-S;
    }
  }
  //COMPONENTS
  .banner {
    max-height: 15vh;
    border-radius: 10px;
    h2 {
      padding: 1em;
      font-size: $desktop-M;
    }
  }
  .collapse {
    h2 {
      font-size: $desktop-XS;
    }
    img {
      width: 5%;
    }
    &__text {
      font-size: $mobile-S;
    }
  }
  .caroussel {
    min-height: 40vh;
    &__arrow--left {
      width: 5%;
      left: 1em;
    }
    &__arrow--right {
      width: 5%;
      right: 1em;
    }
    span {
      display: none;
    }
  }
  //HOME PAGE
  .gallery {
    background-color: white;
    padding: 0;
    .links {
      max-height: 15em;
    }
  }
  //ABOUT PAGE
  .aboutPage {
    .banner {
      max-height: 30vh;
      margin: 0;
    }
    .collapse {
      max-width: 100%;
    }
  }
  //MISSING PAGE
  .missingPage {
    h1 {
      font-size: 96px;
    }
    h2 {
      font-size: $desktop-S;
    }
    a {
      font-size: $desktop-XS;
    }
  }
  //LOCATIONS PAGES
  .locationWrapper {
    .location {
      flex-direction: column;
      gap: 1em;
      margin: 1em 0;
      &__title {
        h1 {
          font-size: $desktop-S;
        }
        p {
          font-size: $desktop-XS;
        }
        ul {
          .tag {
            font-size: $mobile-XS;
            border-radius: 5px;
          }
        }
      }
      &__hostRating {
        max-width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: unset;
        .host {
          justify-content: flex-end;
          max-width: 50%;
          &__pic {
            width: 25%;
          }
        }
        .ratings {
          img {
            width: 75%;
          }
        }
      }
    }
    .details {
      flex-direction: column;
      gap: 1em;
      .collapse {
        width: 100%;
      }
    }
  }
}
