//VARIABLES
/*Colors*/
$main-color: #ff6060;
$background-color: #f6f6f6;
/*Fonts Sizes*/
$desktop-XL: 48px;
$desktop-L: 36px;
$desktop-M: 24px;
$desktop-S: 18px;
$desktop-XS: 14px;
$mobile-S: 12px;
$mobile-XS: 10px;
