//VARIABLES
/*Colors*/
$main-color:#FF6060;
$background-color:#F6F6F6;
//$gradient-color: linear-gradient(#FF79DA, #9356DC);
/*Fonts Sizes*/
$desktop-XS: 14px;
$desktop-S: 18px;
$desktop-M: 24px;
$desktop-L: 36px;
$desktop-XL: 48px;
$mobile-XS: 10px;
$mobile-S: 12px;
/*
288
48
36
24 h2
18 h3
14

10
12
14
18
24
96
*/